@model IEnumerable<Demo.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Manage categories</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table text-light">
    <thead>
        <form asp-controller="Categories" asp-action="Index">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search for..." name="SearchString">
            </div>
        </form>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName):
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
                <td class="text-end">
                    <a asp-action="Edit" asp-route-id="@item.CategoryID" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.CategoryID" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.CategoryID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
