@model IEnumerable<Demo.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Book management</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New Book</a>
</p>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageURL)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a>
                    <img src="@Html.DisplayFor(modelItem => item.ImageURL)" width="100px" height="100px" />
                </a>                
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate  )
            </td>*@
            <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td class="text-end">
                    <a asp-action="Edit" asp-route-id="@item.ProductID" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ProductID" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ProductID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
